section{
    background-color: white;
}
.head {
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #d8d8da;
    i {
        margin-left: 11px;
        cursor: pointer;
        font: 16px/47px "微软雅黑";
        color: #666;
        &:hover{
            color: #0085B5;
        }
    }
}
.content{
    position: absolute;
    top: 63px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    background-color: white;
    .el-form{
        position: absolute;
        left: 25px;
        top: 45px;
        max-width: 510px;
        .el-select{
            width: 430px;
        }
    }
    .sql_code .top{
        width: 100%;
        height: 30px;
        padding: 4px;
        text-indent: 1em;
        font: 14px "微软雅黑";
        color: #666;
        box-sizing: border-box;
        background-color: #eef1f6;
        border-top-left-radius:4px;
        border-top-right-radius:4px;
        border: 1px solid gainsboro;
    }
    .btnG{
        float: right;
        position: relative;
        top: 0;
        z-index: 99;
        .el-button--primary.sure{
            background-color: #0085B5;
            border-color: #0085B5;
            &:hover{
                background-color: #0193C9;
            }
        }
        .el-button.el-button--primary.is-plain:focus{
            color: #0085B5;
            border-color: #0085B5;
            background-color: #eef1f6;
        }
    }
}
.el-form-item__content .el-button--primary:hover{
    background-color: #0193C9;
}
.el-form-item__content .el-button--default:hover{
    color: #0085B5;
    background-color: #eef1f6;
}
.el-tabs__item.is-active{
    color: #0085B5;
}

